page-user-device-config { 
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 190px;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  .swiper-slide {
      display: block;
  }

  ion-label{
      text-indent: 10px;
  }
  ion-label, .select-text {
    margin-left: 10px;
  }
  ion-input, ion-select, ion-textarea {
      background-color: #f2f2f2;
      padding: 5px 10px;
      min-height: 50px;
  }
    
  .invalid {
      border: 1px solid #ea6153;
  }

  .list-md .item-input:last-child {
    border-bottom: 0px solid #dedede;
  }
  // ion-slides {
  //   height: initial;
  // }
  ion-range{
    padding-top: 0px;
  }
  
  ion-icon::before {
    display: initial;
  }

  .location-false{
    color: #000;
  }
  .location-true{
    color: #32db64;
  }
  .heatBadge-true{
    background: #60646B;
  }
  .heatBadge-false{
    background: #f53d3d;
  }
  .heatIcon-true{
    color: #60646B;
  }
  .heatIcon-false{
    color: #f53d3d;
  }
  .sunBadge-true{
    background: #60646B;
  }
  .sunBadge-false{
    background: #dfdb1e;
  }
  .sunIcon-true{
    color: #60646B;
  }
  .sunIcon-false{
    color: #dfdb1e;
  }
  .soilBadge-true{
    background: #60646B;
  }
  .soilBadge-false{
    background: rgb(210, 105, 30);
  }
  .soilIcon-true{
    color: #60646B;
  }
  .soilIcon-false{
    color: rgb(210, 105, 30);;
  }
}
