<ion-header>

  <ion-navbar>
    <ion-title>Device list</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
        <button ion-button icon-only (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <button ion-item (click)="openItem(item)">
        <h2>{{item.mac}}</h2>
        <p>{{item.info}}</p>         
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
            DELETE
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p padding *ngIf="items.length==0">Devices not added yet, press on the plus above to add one.</p>
</ion-content>